$black-bg: #3D4040;
$black-text: #333333;
$gray-strong-text: #666666;
$gray-text: #999999;
$gray-medium-text: #B3B3B3;
$gray-light-text: #9C9AB1;
$gray-bg: #C9C9C9;
$gray-stroke: #C1C1C1;
$gray-border: #E3E3E3;
$gray-border-light: #CECECE;
$white-light-bg: #F3F4F5;
$white-bg: #FFFFFF;
$white-text: #FFFFFF;
$white-medium: #F6F6F9;
$green: #84B245;
$red: #C2213D;
$modal: rgba(86, 86, 86, 0.15);
